* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#094637, #642091);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 10px 32px;
}

.tetris {
    border: 5px solid orange;
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.tetris div {
    width: min(4vh, 7vw);
    height: min(4vh, 7vw);
    background: rgba(211, 211, 211, 0.4);
    box-shadow: inset 2px 2px 2px rgb(18, 209, 8), inset -2px -2px 2px blue;
}

.tetris .O {
    background: red;
}

.tetris .R {
    background: yellow;
}

.tetris .D {
    background: lawngreen;
}

.tetris .L {
    background: blue;
}

.tetris .J {
    background: magenta;
}

.tetris .I {
    background: orange;
}

.tetris .T {
    background: green;
}

.tetris .U {
    background: tomato;
}

.tetris .Z {
    background: brown;
}

.tetris .S {
    background: khaki;
}

.tetris .M {
    background: purple;
}

.tetris .X {
    background: pink;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
}

.info h1 {
    color: rgb(237, 208, 255);
    font-size: 48px;
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.info h2 {
    font-size: 36px;
    color: rgb(237, 208, 255);
}

.score {
    min-width: 150px;
    background: rgba(241, 254, 254);
    color: rgb(37, 37, 37);
    border: 5px solid rgb(14, 119, 95);
    border-radius: 10px;
    padding: 4px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: rgb(45, 12, 65);
}
