* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#094637, #642091);
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding: 10px 32px;
}

.tetris {
    border: 5px solid orange;
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.tetris div {
    width: min(4vh, 7vw);
    height: min(4vh, 7vw);
    background: rgba(211, 211, 211, 0.4);
    box-shadow: inset 2px 2px 2px rgb(18, 209, 8), inset -2px -2px 2px blue;
}

.tetris .O {
    background: red;
}

.tetris .R {
    background: yellow;
}

.tetris .D {
    background: lawngreen;
}

.tetris .L {
    background: blue;
}

.tetris .J {
    background: magenta;
}

.tetris .I {
    background: orange;
}

.tetris .T {
    background: green;
}

.tetris .U {
    background: tomato;
}

.tetris .Z {
    background: brown;
}

.tetris .S {
    background: khaki;
}

.tetris .M {
    background: purple;
}

.tetris .X {
    background: pink;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 14px;
}

.info h1 {
    color: rgb(237, 208, 255);
    font-size: 48px;
    font-weight: bold;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.info h2 {
    font-size: 36px;
    color: rgb(237, 208, 255);
}

.score {
    min-width: 150px;
    background: rgba(241, 254, 254);
    color: rgb(37, 37, 37);
    border: 5px solid rgb(14, 119, 95);
    border-radius: 10px;
    padding: 4px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: rgb(45, 12, 65);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(50, 21, 97, 0.7);
    z-index: 2;
    display: none;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.overlay h2 {
    font-size: 72px;
    color: rgb(251, 239, 3);
}

.info-score {
    color: rgb(3, 251, 164);
    font-size: 48px;
    font-weight: bold;
}

.scores {
    color: rgb(3, 251, 164);
    font-size: 48px;
    font-weight: medium;
    font-style: italic;
}

.btn-restart {
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 60px;
    border: 5px solid rgb(27, 5, 62);
    color: rgb(246, 242, 253);
    background: rgb(71, 7, 173);
    cursor: pointer;
    box-shadow: 7px 6px 10px rgba(10, 76, 56, 0.4);
}

.btn-restart:hover {
    color: rgb(71, 7, 173);
    background: rgb(246, 242, 253);
    border: 3px solid rgb(71, 7, 173);
}
